mixin circleBlock(className, text)
    div(class="circle__block " + className)
        .circle__block-icon--wrap
            .circle__block-icon
        .circle__block-text--wrap
            p.circle__block-text!= text


.circle
    svg(
        width="100%" height="100%"
        xmlns="http://www.w3.org/2000/svg"
    )
        defs
            linearGradient(
                id="gradientText"
                x1="0%" y1="0%" x2="0%" y2="100%"
            )
                stop(offset="0%" stop-color="#1899c8")
                stop(offset="100%" stop-color="#0c4e92")
        text(
            fill="url(#gradientText)"
            x="50%" y="50%"
        )
            != "ACTIVITY"

    +circleBlock("circle__link",        "link to iop")
    +circleBlock("circle__assessment",  "assessment")
    +circleBlock("circle__update",      "update epa level")
    +circleBlock("circle__messages",    "messages")
    +circleBlock("circle__certificates","certificates")
    +circleBlock("circle__ultrasound",  "ultrasound")