

.info
    div(
        class="clearfix"
        role="group"
    )
        if(!boolInfoLoginLang)
            span.info__author
                != "Logged in as "
                a(
                    href="javascript:void(0);"
                    title="M van Beijnen, student"
                    class="info__author-name"
                )!= "Franciscus van der Zee, student"

        a(
            href="javascript:void(0);"
            title="Open menu"
            class="btn__menu btn_menu_js"
        )!= "MENU"

        a(
            href="javascript:void(0);"
            title!= (boolInfoLoginLang) ? "REGISTER" : "LOGOUT"
            class= (boolInfoLoginLang) ? "btn__register" : "btn__logout"
        )!= (boolInfoLoginLang) ? "REGISTER" : "LOGOUT"

        .info__row
            a(
                href="javascript:void(0);"
                id="btnGroupDrop1"
                class="btn__flags"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            )
                i.btn__flags-icon

            .dropdown-menu
                a(
                    href="javascript:void(0);"
                    class="btn__drop"
                )
                    span!= "Dutch"

