
.logotype
    img(
        src="./image/logotype.png"
        title=""
        alt=""
        class="logotype__img logotype__img_desktop img_responsive"
    )
    img(
        src="./image/logotype-mobile.png"
        title=""
        alt=""
        class="logotype__img logotype__img_mobile img_responsive"
    )
