-
    var navArr = [
        "CONTACT",
        "MY PROFILE",
        "ABOUT"
    ];



.nav_row.clearfix
    .nav_row--mobile
        -for(var i = 0; i < navArr.length; i++)
            a(
                href="javascript:void(0);"
                title=navArr[i]
                class="nav__btn"
            )!= navArr[i]

    a(
        href="javascript:void(0);"
        title="Close menu"
        class="nav__btn-close btn_close_js"
    )
