
.swiper-container
    div(
        class="parallax-bg"
    )

    .swiper-wrapper
        div(
            class="swiper-slide"
        )
            include circle

        div(
            class="swiper-slide"
        )

        div(
            class="swiper-slide"
        )

        div(
            class="swiper-slide"
        )

        div(
            class="swiper-slide"
        )


    .swiper-pagination

    .swiper-button-prev
        span.swiper-button-prev__text!= "Year Matrix"

    .swiper-button-next
        span.swiper-button-next__text!= "EPA"
